<<<<<<< Updated upstream

nav {
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 9;
}

.text-regular
{
    color: white;
}
.page-header
{
    margin-top: auto;
}

section
{
    padding-top: 70px;
    padding-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

p, label, h1 {
    color: black;
}

h1, a {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    
    text-shadow: 2px 2px #CCCCCC;
}

.navbarBrandFont 
{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar-light .navbar-brand {
    color: #401C90;
}

.robofont {
    font-family: 'Roboto', sans-serif;
}

 nav a {
    transition: 0.3s ease;
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}
.selectedLink
{
    font-weight: bold;
    color: #401C90;
}

.hidden
{
    display: none;
}

nav a:hover {
    border-top: 4px solid #3f9548;
    border-bottom: 4px solid #3f9548;
    padding: 6px 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in-text {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body{
    height: 100%;
}

html {
    height: 100%;
    overflow: auto;
}
html, body
{
    margin: 0;
    overflow-x: hidden;
    z-index: -1;
    background-image: url("../assets/pexels-matej-117839-716661.jpg");
    /*background-image: url("../assets/pexels-stywo-1054218_small.jpg");*/
    
    background-repeat: repeat;
    background-size: cover;
    background-position:center;
} 




.form-horizontal {
    margin-left: 15%;
    margin-right: 15%;
}

.containerFooter{
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 8px 2px 8px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
}
.navMenu
{
    width: 100%;
    top: 0%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}

.text-left
{
    position: absolute;
    bottom:0;
}
=======

nav {
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 9;
}

.page-header
{
    margin-top: auto;
}

section
{
    padding-top: 70px;
    padding-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

p, label, h1 {
    color: black;
}

h1, a {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1{
    
    text-shadow: 2px 2px #CCCCCC;
}

.navbarBrandFont 
{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar-light .navbar-brand {
    color: #401C90;
}

.robofont {
    font-family: 'Roboto', sans-serif;
}

 nav a {
    transition: 0.3s ease;
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}
.selectedLink
{
    font-weight: bold;
    color: #401C90;
}

.hidden
{
    display: none;
}

nav a:hover {
    border-top: 4px solid #3f9548;
    border-bottom: 4px solid #3f9548;
    padding: 6px 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in-text {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body{
    height: 100%;
    
}

html {
    height: 100%;
    overflow: auto;
}
html, body
{
    margin: 0;
    overflow-x: hidden;
    z-index: -1;
    background-color: #E8E8E8;
}


.form-horizontal {
    margin-left: 15%;
    margin-right: 15%;
}

.containerFooter{
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 8px 2px 8px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
}
.navMenu
{
    width: 100%;
    top: 0%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}

.text-left
{
    position: absolute;
    bottom:0;
}

.box
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 1s ease-out;
}

.rounded-circle
{
    border-radius: 25% !important;
}

th
{
    text-align: right;
}

.hid-box
{
    margin-top: 150%;
    position: relative;
    transition: all 1s ease-out;
    height: 100%;
}
>>>>>>> Stashed changes
